#mainheader .navbar .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

#mainheader .navbar ul {


    text-align: center;
    margin: 0 auto;
display: block;
}

#mainheader .navbar ul li {
    display: inline;
 text-align: center;
 font-size: .69rem;
 margin-left: 1rem;
}

#mainheader .navbar .container {
    display: block;
    margin: 0 auto;
}



#showcase h1 {
    margin: 1em 0;
}

.features-row {
    display: block;
}

#contact form{
    float: none;
    width: 100%;
}

.video iframe{
    width: 100%;
    height:300px;
}